@font-face {
	font-family: "Engram";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("engram/Engram-Regular.woff2") format("woff2"),
		url("engram/Engram-Regular.woff") format("woff");
}
@font-face {
	font-family: "Engram";
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	src: url("engram/Engram-Medium.woff2") format("woff2"),
		url("engram/Engram-Medium.woff") format("woff");
}

@font-face {
	font-family: "Engram-Bold";
	src: url("engram/Engram-Medium.woff2") format("woff2"),
		url("engram/Engram-Medium.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
